.img {
  height: 40rem;
  width: 40rem;

  img {
    height: 100%;
    object-fit: contain;
    width: 100%;
  }
}

.title {
  font-size: 5rem;
  text-align: center;
}

.wrap {
  align-items: center;
  display: flex;
  flex: 1;
  height: 85vh;
  justify-content: center;
}
