@font-face {
  // sass-lint:disable property-sort-order
  font: {
    family: '<%= fontName %>';
    weight: normal;
    style: normal;
  }
  src: url('<%= fontPath %><%= fontName %>.woff') format('woff');
}

.<%=className %> {
  // sass-lint:disable no-vendor-prefixes
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font: normal normal normal 14px/1 '<%= fontName %>';
  text-rendering: auto;
}

.<%=className %>-lg {
  font-size: 1.3333333333333333em;
  line-height: .75em;
  vertical-align: -15%;
}

.<%=className %>-2x {
  font-size: 2em;
}

.<%=className %>-3x {
  font-size: 3em;
}

.<%=className %>-4x {
  font-size: 4em;
}

.<%=className %>-5x {
  font-size: 5em;
}

.<%=className %>-fw {
  text-align: center;
  width: 1.2857142857142858em;
}

<% _.each(glyphs,
function(glyph) {
  %>.<%=className %>-<%=glyph.name %> {
  &::before {
    content: '\<%= glyph.unicode[0].charCodeAt(0).toString(16).toUpperCase() %>';
  }
}

<%
}

);
%>