//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  1025px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1300px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12 !default;

//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px !default;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
// $container-tablet:             (720px + $grid-gutter-width) !default;
//** For `$screen-sm-min` and up.
// $container-sm:                 $container-tablet !default;

// Medium screen / desktop
// $container-desktop:            (940px + $grid-gutter-width) !default;
//** For `$screen-md-min` and up.
// $container-md:                 $container-desktop !default;

// Large screen / wide desktop
// $container-large-desktop:      (1260px + $grid-gutter-width) !default;
//** For `$screen-lg-min` and up.
// $container-lg:                 $container-large-desktop !default;

// Define
// $TigerMedium: 'FrutigerTIGERmedium';
// $TigerBold: 'FrutigerTIGERbold';

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
// $gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             #e5e5e5; // #777
$gray-lighter:           #b7b7b7;

$white: #fff;
$black: #000;
$dark: #212121;
$dark-2: #000101;
$dark-light: #4a4a4a;
$red: #ab162b;
$red-2: #ed1b2f;

$brand-primary: #337ab7 !default; // #337ab7
$turquoise: #00f ;

$backgroud-slide-item:      #e5e7e6;
$slide-dotted-active:       #3073b6;
$slide-dotted:             #e0e0e0;

// $font-family-base: $TigerMedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
// $font-source-sans-pro: 'SourceSansPro-Regular', sans-serif;
// $font-source-sans-pro-bold: 'SourceSansPro-Bold', sans-serif;
// $font-source-sans-pro-italic: 'SourceSansPro-Italic', sans-serif;
// $font-size-base: 14px;
$font-size-base: 18px;
$line-height-base: 1.428571429 !default; // 20/14
$line-height-computed: floor(($font-size-base * $line-height-base)) !default; // ~20px
$hr-border: $gray-lighter !default;
$text-color: #5f5f5f;
$link-color: #337ab7;

$body-bg:               #fff !default;
$graphic-background-btn:  #0076cf;
$graphic-btn-hover:       #0d7bce;

$link-color:            $brand-primary !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

$border-radius-base:        4px !default;
$border-radius-large:       6px !default;
$border-radius-small:       3px !default;

//** Padding around the thumbnail image
$thumbnail-padding:           4px !default;
//** Thumbnail background color
$thumbnail-bg:                $body-bg !default;
//** Thumbnail border color
$thumbnail-border:            #ddd !default;
//** Thumbnail border radius
$thumbnail-border-radius:     $border-radius-base !default;

//** Custom text color for thumbnail captions
$thumbnail-caption-color:     $text-color !default;
//** Padding around the thumbnail caption
$thumbnail-caption-padding:   9px !default;
$max-width-container: 1320px;

// $flag-icon-css-path: '../icons/flag/' !default;
// $flag-icon-rect-path: '4x3' !default;
// $flag-icon-square-path: '1x1' !default;

$blue-1: #0076cf;
$blue-2: #70bed5;
$black-1: #212121;
$white-1: #fefefe;
$red-2: #e51937;
$red-3: #fb0000;
$green: #00b200;
$gray-2: #f8f8f8;
$gray-3: #e6e6e6;
$gray-4: #909090;
$gray-5: #6c6c6c;
$violet-dark: #010023;
$gray-6: #b1b1b1;
$gray-7: #f1f1f1;
$black-2: #262626;
$grey: #584c24;
$gray-8: #454545;
$danger: #f2dede;
$success: #dff0d8;
$gray-9: #5f5f5f;
