block vars
  -title = 'Site'
  -bodyClass = ''
  -lang = "ar"
  -rtl = "rtl"

doctype html
html(class="no-js ie", lang=lang dir=rtl)
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title=title
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="robots", content="index, follow")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    //- link(rel="icon", href="favicon-16x16.png", type="image/x-icon", sizes="16x16")
    link(href="styles/app.css", rel="stylesheet", type="text/css")
    script(src='./scripts/vendor.js')
    script(src='./scripts/app.js')
  body(class=bodyClass)
    //- #google_translate_element.google_translate_element
    block container
    //[if lte IE 9]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]
    noscript JavaScript is off. Please enable to view full site.
