block vars
  -title = 'Template'

doctype html
html(class="no-js", lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
    title=title
    meta(name="viewport", content="width=device-width, minimal-ui")
    //- link(rel="icon", href="favicon-16x16.png", type="image/x-icon", sizes="16x16")
    link(rel="stylesheet", href="style/app.css")
  body.template
    block container
    p 43534534dsfsdf
    noscript JavaScript is off. Please enable to view full site.
