@font-face {
  // sass-lint:disable property-sort-order
  font: {
    family: 'icons';
    weight: normal;
    style: normal;
  }
  src: url('../fonts/icons.woff') format('woff');
}

.icon {
  // sass-lint:disable no-vendor-prefixes
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font: normal normal normal 14px/1 'icons';
  text-rendering: auto;
}

.icon-lg {
  font-size: 1.3333333333333333em;
  line-height: .75em;
  vertical-align: -15%;
}

.icon-2x {
  font-size: 2em;
}

.icon-3x {
  font-size: 3em;
}

.icon-4x {
  font-size: 4em;
}

.icon-5x {
  font-size: 5em;
}

.icon-fw {
  text-align: center;
  width: 1.2857142857142858em;
}

.icon-space {
  &::before {
    content: '\20';
  }
}

.icon-github {
  &::before {
    content: '\E001';
  }
}

.icon-arrow-down {
  &::before {
    content: '\E002';
  }
}

.icon-arrow-left {
  &::before {
    content: '\E003';
  }
}

.icon-arrow-right {
  &::before {
    content: '\E004';
  }
}

.icon-arrow-up {
  &::before {
    content: '\E005';
  }
}

.icon-google {
  &::before {
    content: '\E006';
  }
}

.icon-remove {
  &::before {
    content: '\E007';
  }
}

.icon-twitter {
  &::before {
    content: '\E008';
  }
}

.icon-feed {
  &::before {
    content: '\E009';
  }
}
