extends _layout/layout.pug

block vars
  -title = 'Homepage'
  -bodyClass = 'home'
  -menuIndex = 0
  -lang = "en"
  -rtl = ""

block container
  .container-fluid
    .icon.icon-github
    a(href='./sitemap.html') sitemap
    h1.title Hello everyone! Fighting~
    .wrap
      .img
        img(alt='dolar' src='../images/dolar.png')
    //- include blocks/homepage/gallery

    //- include blocks/homepage/culteral-destinations

  //- .tintup(data-id="psrathore" data-columns="" data-mobilescroll="true" data-infinitescroll="true" data-personalization-id="877454" style="height:500px;width:100%;")

