extends _layout/template.pug

block vars
  -title = 'Sitemap'

block container
  h1.main-title.text-center Hello World
  .container
    h2.title.text-center Templateaaaaaaabbbb
    .row.py-2
      .col-md-4.col-sm-6
        //- +link('Style Guide', 'template-style-guide.html').btn.btn-red-white.d-block.text-center
    h2.title.text-center Pages
    .row.py-2
      .col-md-4.col-sm-6
        //- +link('Home Page', 'index.html').btn.btn-red-white.d-block.text-center
      .col-md-4.col-sm-6
        //- +link('Category Landing Page', 'category-landing.html').btn.btn-red-white.d-block.text-center
      .col-md-4.col-sm-6
        //- +link('Detail Page', 'detail.html').btn.btn-red-white.d-block.text-center
      .col-md-4.col-sm-6
        //- +link('contact Page', 'contact.html').btn.btn-red-white.d-block.text-center






